*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to bottom right,rgb(45,200,500),teal,rgb(45,200,500));
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Style Script', cursive;
}
h1{
    padding: 25px 0px;
    box-sizing: border-box;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
}
p{
    font-size: medium;
    font-weight: bold;
    padding: 15px;
}
.box {
    box-shadow: -10px 10px 40px rgb(3 39 39);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    max-width: 600px;
    margin: 30px auto 25px;
    border: solid teal 0.5px;
    background: linear-gradient(to bottom right,rgb(45,200,500),teal,rgb(45,200,500));
}
.input-label {
    display: block;
    font-size: large;
    font-weight: 600;
}
  
.input {
    font-size: 15px;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid teal;
    border-radius: 10px;
    width: 100%;
    max-width: 280px;
}
  
#check-btn {
    background: teal;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Style Script', cursive;
    cursor: pointer;
    margin: 12px auto;
    display: block;
}
.output{
    display: none;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}
span{
    color: white;
}